<div class="flex flex-col p-4 space-x-4 w-full md:flex-row ">

    <div class=" md:w-1/2 ">
        <img src="https://images.unsplash.com/photo-1460472178825-e5240623afd5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnVpbGRpbmdzfGVufDB8fDB8fHww&w=1000&q=80" alt="">
    </div>
    <div class="flex flex-col p-4 justify-center">
        <h1>White House</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rem adipisci quam dolorem odit a provident quibusdam esse commodi cumque!</p>
        <p>Ksh 30000</p>
        <div class="flex flex-col md:flex-row md: space-x-4">
            <button type="submit" class="bg-background text-white w-40 px-8 py-2 rounded "> Update </button>
        <button type="submit" class="bg-Red text-white px-8 w-40  py-2 rounded "> Delete </button>
        </div>
    </div>
   
</div>

