
<div class="flex flex-col space-y-2 text-white py-2 bg-background items-center justify-between mx-auto md:flex-row md:px-8">

  <div class="flex flex-col items-center md:flex-row md:space-x-4" >
     <a routerLink="/" class="text-white">Live inAfrica</a>
     <a  routerLink="property" class="text-white">Properties</a>
     <!-- <a href="#" class="text-white">About us</a>
     <a href="#" class="text-white"> Contact Us</a> -->
     <a routerLink="lsignup" class="text-white"> Become a Landlord</a>
     <a href="#" class="text-white"
      routerLink="add/1" *ngIf="authService.isLoggedIn() && authService.isLandlord()"> Add Property</a>
      <a routerLink="/landlords" class="text-white"  *ngIf="authService.isAdmin()">landlords</a>
      <a routerLink="/myProperties" class="text-white"  *ngIf="authService.isLoggedIn() && authService.isLandlord()">MyProperties</a>
      <a routerLink="/counter">Counter{{count}}</a>
   </div>
 
  <div class="flex flex-col space-y-2 items-center md:flex-center md:flex-row md:space-x-4">
     <a routerLink="signup" class="bg-white text-black px-4  rounded " *ngIf="!authService.isLoggedIn()">Sign Up</a>
     <div routerLink="/profile" class="flex items-center syace-x-0" *ngIf="authService.isLoggedIn()">
         <p><ion-icon name="person-circle-outline" size="large"></ion-icon></p>
         <a href="#" class="text-white px-4  rounded" >
            {{authService.getUsername()}}</a>
     </div>
     <a routerLink="login" class="bg-white text-black px-4  rounded " *ngIf="!authService.isLoggedIn()">Login</a>
     <a href="#" class="bg-white text-black px-4  rounded " *ngIf="authService.isLoggedIn()"
     (click)="authService.logout()"
     >Logout</a>
  </div>
 
 </div>
<router-outlet></router-outlet>