
<div class="flex flex-col space-y-2 text-white py-2 bg-background items-center justify-between mx-auto md:flex-row md:px-8">

 <div class="flex flex-col items-center md:flex-row md:space-x-4" >
    <a href="#" class="text-white">Live inAfrica</a>
    <a href="#" class="text-white">Properties</a>
    <a href="#" class="text-white">About us</a>
    <a href="#" class="text-white"> Contact Us</a>
 </div>

 <div class="flex flex-col space-y-2 items-center md:flex-row md:space-x-4">
    <a href="#" class="bg-white text-black px-4  rounded ">Sign Up</a>
    <a href="#" class="bg-white text-black px-4  rounded " >Login</a>
 </div>

</div>
 
<div class="w-full h-80">
    <img src="../../assets/house1.jpg" class="w-full h-full" alt="">
</div>
<h1 class="flex  flex-col items-center mt-4"> New Projects</h1>
<div class="w-full mt-2 rounded items-center justify-center  flex flex-col  space-y-2 md:flex-row md:flex-wrap md:space-x-4">
    <div class="p-2 m-4  h-full flex flex-col border border-black p-2 md:w-1/5">
        <img  class="w-full h-3/4"
        src="https://i.roamcdn.net/prop/brk/listing-thumb-376w/9bcb6e3505abf6078cb00ce998d7e1d7/-/prod-property-core-backend-media-brk/5083331/d0f66d2b-a7ff-4bb5-a829-b35a82e80c79.jpeg" alt="">
        <p>Ksh 50000</p>
        <p>Green Park</p>
        <p><ion-icon name="location-outline"></ion-icon> Rongai</p>
    </div>

    <div class=" p-2 m-4  flex flex-col border border-black p-2 md:w-1/5 md:p-2">
        <img  class="w-full h-3/4"
        src="https://i.roamcdn.net/prop/brk/listing-thumb-376w/75f39335fa4638459e3e89d0cc642fb3/-/prod-property-core-backend-media-brk/3250421/82644be4-00ae-485a-bf5e-7850cc68cfc5.jpg" alt="">
        <p>Ksh 50000</p>
        <p>Green Park</p>
        <p><ion-icon name="location-outline"></ion-icon> Pangani</p>
    </div>

    <div class="p-2 m-4  flex flex-col border border-black p-2 md:w-1/5 md:p-2">
        <img  class="w-full h-3/4"
        src="https://i.roamcdn.net/prop/brk/listing-thumb-376w/5bd983d675c8f95f028b0072dda72ff4/-/prod-property-core-backend-media-brk/4983017/42360cec-8ca3-4c80-b174-c51d8c87567b.jpeg" alt="">
        <p>Ksh 50000</p>
        <p>Green Park</p>
        <p><ion-icon name="location-outline"></ion-icon> Pangani</p>
    </div>

    <div class="p-2 m-4  flex flex-col border border-black p-2 md:w-1/5 md:p-2">
        <img  class="w-full h-3/4"
        src="https://i.roamcdn.net/prop/brk/listing-thumb-376w/25ccf9816ef72cce160cd246a04355cb/-/prod-property-core-backend-media-brk/4870128/2cbb0c3d-2c55-48a8-98ef-9dc3f3854316.jpg" alt="">
        <p>Ksh 50000</p>
        <p>Green Park</p>
        <p><ion-icon name="location-outline"></ion-icon> Pangani</p>
    </div>
</div>
<div class="w-full flex  flex-col rounded justify-center items-center ">
    <div class=" mt-10 p-4  w-3/4 bg-VeryPaleRed flex flex-col justify-center items-center mb-8 space-y-2 md:flex-row md:space-x-4 ">
        <p><ion-icon name="mail-open-outline" size="large"></ion-icon></p>
        <p>Get an expert advice and popular properties in your inbox</p>
        <input type="text" class=" rounded w-64 border border-black"/>
        <button class="bg-Red text-white px-8 py-2 rounded ">SubScribe</button>
    </div>
</div>


<app-footer></app-footer>